<div class="container">
    <div class=" row justify-content-center">
      <div class="col-sm-10 ">
      <h1>Covid Tracker</h1>      
      <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
    </div>
    </div>
  </div>
   
  

<div class="container">
<div class="  row d-flex justify-content-center ">
    <div  class=" bg-light  rounded-top border col-sm-10">
    <app-counter (changeCountry)="getReport($event)"  [reports]="reports" ></app-counter>
    </div>
  </div>
</div>


  <div class="container">
<div class="row d-flex justify-content-center">
  <div class=" col-sm-10">
<app-chart [reports]="reports"></app-chart>
</div>
</div>
</div>